<div class="row">
  <aside class="col-sm-8">
    <%= render 'tasks/form', task: @task %>
    <div class="mt-3"><%= link_to '一覧に戻る', root_path, class: 'btn btn-secondary btn-sm' %></div>
  </aside>
</div>
